midless.code-workspace
.vscode/
tests/*
tools/*
examples/*
*.o
libs/*.c
libs/*.h
libs/*.a
*.html
*.bat

bin/

build/*
!build/client/

build/client/*
!build/client/mods/

build/client/mods/*
!build/client/mods/base_game/

build/client/mods/base_game/*
!build/client/mods/base_game/**